@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
.body-combo {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper-combo {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap-combo {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  background-color: #232523;
}
.fostrap-logo-combo {
  width: 100px;
  margin-bottom:15px
}
h1.heading-combo {
  color: #FCA800;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  /* color: #505050; */
}
@media (min-width: 450px) {
  h1.heading-combo {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading-combo {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading-combo {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card-combo {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card-combo:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card-combo {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card-combo img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content-combo {
  padding:15px;
  text-align:left;
}
.card-title-combo {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title-combo a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more-combo {
  border-top: 1px solid #D4D4D4;
}
.card-read-more-combo a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}


/**
 * Combo preview btn start
 */

.combo-preview-img-combo{
  height: 70vh;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 40%);
  position: relative;
  transition: all 250ms ease-in-out;
}

.combo-preview-img-combo:hover{
  transform: scale(1.05);
}


.img-combo-drag {
  border: dashed 0.5px #ccc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: #4e4e4e;
}

.img-combo-drag.active {
  border: dashed 0.5px #1ebcd4;
  color: #000;
  background: #d7f8fd;
}

span#img-name {
  color: #1ebcd4;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span#img-name img {
  width: 60px;
}


.combo-preview-img{
	height: 60vh;
	width: 95vw;
  border-radius: 6px;
  object-fit: contain;
  padding-top: .5rem;
	padding-bottom: .5rem;
}

.img-modal{
  width: 80vw;
}